article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.btn:hover {
  background: #77abff;
  box-shadow: #3e3f42;
}
a:hover {
  background: #77abff;
  box-shadow: #3e3f42;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width:500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width:500px) {
  .home .space-images img {
    width: 100vw;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .home .walk {
    flex-direction: column-reverse;
  }
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width:500px) {
  .home .walk img {
    width: 100vw;
  }
}
h1 {
  font-size: 4.4rem;
  text-align: center;
  height: 6rem;
  padding-top: 18px;
  padding-bottom: 8px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2.5rem;
}
nav a {
  align-content: space-between;
  width: 85px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5E6164;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 12px;
}
.btn {
  border-radius: 20px;
  background: #5E6164;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
@media (max-width:500px) {
  .btn {
    width: 100vw;
    border-radius: 0px;
  }
}